/* ProductList.module.css */
/* 
@media screen and (min-width: 900px){
  .productListContainer{
    margin-left: 13rem;
    margin-right: 13rem;
   }
}*/
  .productListContainer{
    margin-left: 8rem;
    margin-right: 8rem;
   } 
