.heroSection {
  position: relative;
  height: 600px; /* Justera höjden enligt dina önskemål */
  overflow: hidden; /* För att dölja överflödig bild om höjden är för stor */
}

.heroSectionImg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* För att behålla bildens proportioner och täcka hela området */
}
