@import url('https://fonts.googleapis.com/css2?family=Average&family=Montserrat:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600&family=Poppins:wght@300;400;500;600&family=Rufina:wght@400;700&family=Sintony:wght@400;700&display=swap');

.wrapper {
	position: relative;
	padding-top: 9rem;
	padding-bottom: 8rem;
	background-image: url(https://royaldesign.se/image/1/tradition-flowerpot-vp3-bordslampa-43?w=1920&quality=80);
	background-size: cover;
	background-position: center;
}
@media (max-width: 36em) {
	.wrapper {
		padding-top: 6rem;
		padding-bottom: 3rem;
	}
}

.inner {
	position: relative;
	z-index: 1;
}

.title {
	font-weight: 600;
	font-size: 3.9rem;
	letter-spacing: rem(-1px);
	padding-left: 1rem;
	padding-right: 1.7rem;
	color: var(--mantine-color-white);
	text-align: center;
	font-family: 'Poppins', 'sans-serif';
}
@media (max-width: 36em) {
	.title {
		font-size: 3rem;
		text-align: center;
	}
}

.description {
	color: var(--mantine-color-gray-0);
	text-align: center;
	margin-bottom: 1rem;
}
@media (max-width: 36em) {
	.description {
		font-size: var(--mantine-font-size-md);
		font-weight: 400;
	}
}

.controls {
	margin-top: calc(var(--mantine-spacing-xl) * 1.5);
	display: flex;
	justify-content: center;
	padding-left: 1rem;
	padding-right: 1rem;
}

.control {
	height: 2.7rem;
	font-size: 1rem;
	font-family: 'poppins', sans-serif;
	font-weight: 400;
}

@media (max-width: 36em) {
	.control {
		margin-top: var(--mantine-spacing-md);
		margin-left: 0;
	}
}
.control:hover {
	background: none;
	border: 1px solid rgba(255, 255, 255, 0.45);
}

.secondaryControl {
	color: var(--mantine-color-white);
	background-color: rgba(255, 255, 255, 0.4);
}

.TextilCategoryWrapper {
	position: relative;
	padding-top: 9rem;
	padding-bottom: 8rem;
	background-image: url(https://royaldesign.se/image/1/ceannis-egg-plad-130x170-cm-2?w=1920&quality=80);
	background-size: cover;
	background-position: center;
}
@media (max-width: 36em) {
	.TextilCategoryWrapper {
		padding-top: 6rem;
		padding-bottom: 3rem;
	}
}

.card {
	width: 22rem;
	height: 13rem;
}

.CardTitle {
	font-size: 1.8rem;
	font-weight: 450;
	color: white;
}

.ImageOverlay {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.TextContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: #fff;
}

.HeroCard {
	width: 45rem;
	height: 45rem;
}
@media (max-width: 36em) {
	.HeroCard {
		width: 21rem;
		height: 21rem;
	}
}

.HeroTextContainer {
	position: absolute;
	top: 80%;
	left: 40%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: #fff;
}

.HeroCardTitle {
	font-size: 3rem;
	font-weight: 600;
	color: white;
	text-align: left;
	cursor: pointer;
}

@media (max-width: 36em) {
	.HeroCardTitle {
		font-size: 2rem;
		text-align: left;
		padding-bottom: 2.5rem;
	}
}

.HeroCardTitle:hover {
	text-decoration: underline;
}

.HeroDescription {
	color: var(--mantine-color-gray-0);
	text-align: left;
	margin-bottom: 1rem;
}

@media (max-width: 36em) {
	.HeroDescription {
		font-size: var(--mantine-font-size-md);
		text-align: left;
		margin-bottom: 0;
	}
}

.NewsletterWrapper {
	position: relative;
	padding-top: rem(180px);
	padding-bottom: rem(130px);
	background-image: url(https://cdn.pixabay.com/photo/2015/04/10/17/03/pots-716579_1280.jpg);
	background-size: cover;
	background-position: center;
}
@media (max-width: 36em) {
	.NewsletterWrapper {
		padding-top: rem(80px);
		padding-bottom: rem(50px);
	}
}

.NewsletterText {
	font-weight: 500;
	font-size: 2.2rem;
	letter-spacing: rem(-1px);
	padding-left: var(--mantine-spacing-md);
	padding-right: var(--mantine-spacing-md);
	color: var(--mantine-color-white);
	margin-bottom: var(--mantine-spacing-lg);
	text-wrap: wrap;
	margin-right: 2rem;
	font-family: 'Poppins', 'sans-serif';
}
@media (max-width: 48em) {
	.NewsletterText {
		font-size: 1.8rem;
		text-align: left;
	}
}

.NewsletterDescription {
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.05rem;
	padding-left: var(--mantine-spacing-md);
	padding-right: var(--mantine-spacing-md);
	color: var(--mantine-color-white);
	font-family: 'Poppins', 'sans-serif';
}
@media (max-width: 36em) {
	.NewsletterDescription {
		font-size: 0.8rem;
		text-align: left;
	}
}

.NewsletterTextContainer {
	display: flex;
	flex-direction: column;
	padding-left: 2.3rem;
	color: #fff;
}

.NewletterInputContainer {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding-left: 3.2rem;
	margin-right: 2rem;
	flex-wrap: wrap;
}

.NewletterButton {
	font-family: 'Poppins', 'sans-serif';
	font-weight: 400;
}

.NewletterButton:hover {
	background-color: white;
	color: black;
}

.input {
	border: none;
	background-color: #e6e3e3;
	width: 25rem;
}
@media (max-width: 48em) {
	.input {
		width: 15rem;
	}
}

.input:focus {
	background-color: #fff;
}

.NewletterModalTitle {
	font-size: 1rem;
}
