.ButtonBox {
	padding-top: 2rem;
	margin-bottom: 2rem;
}

.SubButton {
	font-size: 0.95rem;
	font-weight: 400;
	font-family: 'Poppins', 'sans-serif';
	color: black;
	background-color: white;
}

.SubButton:hover {
	background-color: black;
	color: white;
}

.wrapper {
	position: relative;
	padding-top: rem(180px);
	padding-bottom: rem(140px);
	background-size: cover;
	background-position: center;
}

.inner {
	position: relative;
	z-index: 1;
}

.title {
	font-weight: 500;
	font-size: 4rem;
	letter-spacing: 0.05rem;
	padding-left: var(--mantine-spacing-md);
	padding-right: var(--mantine-spacing-md);
	color: var(--mantine-color-white);
	margin-bottom: var(--mantine-spacing-xs);
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.text {
	font-weight: 400;
	font-size: 1rem;
	word-wrap: normal;
	letter-spacing: 0.05rem;
	color: var(--mantine-color-white);
	margin-bottom: var(--mantine-spacing-xs);
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
@media (max-width: 36em) {
	.text {
		font-size: 0.9rem;
	}

	.title {
		font-size: 2.5rem;
	}

	.wrapper {
		padding-top: rem(90px);
		padding-bottom: rem(60px);
	}

	.SubButton {
		font-size: 1rem;
		text-decoration: underline;
		border: none;
		padding: 0.2rem;
		justify-content: space-around;
	}
	.ButtonBox {
		padding-top: 2rem;
		margin-bottom: 1rem;
	}
}

.highlight {
	color: var(--mantine-color-primary-4);
}

.description {
	color: var(--mantine-color-gray-0);
	text-align: center;
}
@media (max-width: 36em) {
	.description {
		font-size: var(--mantine-font-size-md);
		text-align: left;
	}
}

.innerButtonContainer {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}

.backButton {
	font-size: 0.9rem;
	font-weight: 400;
	font-family: 'Poppins', 'sans-serif';
	color: black;
	background-color: white;
}

.ArrowIcon {
	margin-right: 0.4rem;
	font-size: 1rem;
}

.backButton:hover {
	color: white;
	background-color: black;
}

.group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.groupContainer {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
}

.filterButton,
.sortButton {
	font-size: 1.1rem;
	font-weight: 400;
	font-family: 'Poppins', 'sans-serif';
	color: rgb(34, 34, 34);
}

.filterButtonIcon {
	padding-top: 0.2rem;
}

.groupText {
	font-size: 1rem;

	color: rgb(168, 168, 168);
	font-family: 'Poppins', 'sans-serif';
}
