.wrapper {
	padding-top: rem(150px);
	padding-bottom: rem(120px);

	@media (max-width: $mantine-breakpoint-md) {
		padding-top: rem(80px);
		padding-bottom: rem(50px);
	}
}

.ProductInfo {
	display: flex;
	flex-direction: column;

	@media (max-width: $mantine-breakpoint-sm) {
		text-align: center;
	}
	@media (max-width: $mantine-breakpoint-md) {
		padding-left: 1.5rem;
	}
}

.CarouselContainer {
	@media (max-width: $mantine-breakpoint-md) {
		margin-right: 2rem;
	}
}

.ButtonContainer {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	padding-top: 1rem;

	@media (max-width: $mantine-breakpoint-md) {
		justify-content: center;
	}
}

.CartButton {
	background-color: rgb(115, 153, 115);
	font-weight: 500;
	font-size: 1rem;
}

.CartButton:hover {
	background-color: rgb(76, 105, 76);
}

.HeartButton {
	color: palevioletred;
	font-size: 2rem;
	margin-top: 0.2rem;
}

.HeartButton:hover {
	color: rgb(243, 216, 225);
}

.RelatedProductContainer {
	padding-top: 1rem;
	padding-bottom: 2rem;

	@media (max-width: $mantine-breakpoint-xs) {
		padding-bottom: 1rem;
	}
}

.card {
	background-color: var(--mantine-color-body);
}

.title {
	font-weight: 500;
	font-family:
		Greycliff CF,
		var(--mantine-font-family);
	line-height: 1;
}

.body {
	padding-top: var(--mantine-spacing-sm);
	padding-bottom: var(--mantine-spacing-sm);
	padding-left: var(--mantine-spacing-md);
	display: flex;
	flex-direction: column;
}

.IconContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-left: auto;
	padding-right: 1.5rem;
}

.HeartIconButton {
	color: palevioletred;
	font-size: 1.2rem;
}

.HeartIconButton:hover {
	color: rgb(243, 216, 225);
}

.CartIconButton {
	color: rgb(115, 153, 115);
	font-size: 1.2rem;
}

.CartIconButton:hover {
	color: rgb(76, 105, 76);
}

.RecommendedCard {
	position: relative;
	background-color: var(--mantine-color-body);
	display: flex;
	justify-content: space-between;
}

.iconSection {
	display: flex;
	flex-direction: row;
	padding-right: 0.8rem;
	gap: 0.5rem;
	cursor: pointer;
}

.cartIcon {
	font-size: 1.4rem;
	color: rgb(115, 153, 115);
}

.favIcon {
	font-size: 1.5rem;
	color: palevioletred;
}

.cartIcon:hover {
	color: rgb(76, 105, 76);
}

.favIcon:hover {
	color: rgb(243, 216, 225);
}

.title {
	font-family: 'Average', serif;
}

.ProductTitle,
.text,
.CartButton {
	font-family: 'Poppins', sans-serif;
}

.recommendedProductName {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 130px;
}
