.card {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  margin:  1rem;
  height: 500px;
  width: 350px;
}


.imageSection {
  align-self: stretch;
  margin-top: 1rem;

}

.textSection{
  padding-left: .6rem;
  margin-bottom: 1rem;
}

.cardImage {
  object-fit:cover;
  width: 0 auto;
  overflow: hidden;
  transition: 0.08s linear;
}



.brandSection{
    color: #8b8989;
    padding-left: .6rem;
 
}